<p>
    Product Details: <br> <br>

    Search by Product: <input type="text" [(ngModel)]='pname' />
    <button (click)='getProductByNameViaService(pname)'>Search</button>
    <br/>
    
    
    <!-- SName: <input type="text" [(ngModel)]='x.sname' /> <br/> -->
    <!-- ID:<input type="number" [(ngModel)]='x.id' /> <br/> -->

    Name:  {{x.pname}} <br/>
    Price: {{x.price}} <br/>

    <!-- Add to Cart :<input type="text" [(ngModel)]='pname' />
    <button (click)='getProductByNameViaService(pname)'>Search</button>
    <br/> -->


    <!-- Name: <inp type="text" [(ngModel)]='x.pname' /> <br/>
    Price:  <input type="text" [(ngModel)]='x.price' /> <br/> -->

</p>